Repository falcosecurity/falco-exporter, pull requests merged in 2020-06, with the labels that each got.

#32 Add Pod Name and K8s Namespace Labels
  pkg/exporter/exporter.go
Labels: approved, area/pkg, dco-signoff: yes, kind/feature, lgtm, release-note, size/S

#35 update(grafana): add namespace and pod name
  grafana/dashboard.json
  grafana/preview.png
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/XXL

#36 build(goreleaser): remove go mod tidy
  .goreleaser.yml
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS
